html,
body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

a {
    font-size: 16px;
    font-weight: 400;
    color: #CCC;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out; 
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: #FFF;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out; 
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}

.container {
	margin: 0 50px 0 130px;
    padding: 0;
}

.left-menu-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: fixed;
	height: 100%;
	width: 80px;
	z-index: 1000;
	background-color: #262626;
    box-shadow: 3px 0 6px 0 rgba(0, 0, 0, 0.25);
}

.left-menu-item-container {
	text-align: center;
	width: 100%;
	margin: 10px 0;
	line-height: 40px;
}

.left-menu-item-container > a {
	display: inline-block;
	width: 100%;
	cursor: pointer;
}

.left-menu-item-container > a i {
	color: #fff;
	font-size: 20px;
    opacity: 0.8;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out; 
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}

.left-menu-item-container > a:hover i {
    opacity: 1;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out; 
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}

#cover {
	background: #2E2C2B url('../Content/Images/cover-1.jpg') center top no-repeat;
	background-size: cover;
	color: #fff;
    height: auto;
	min-height: 100%;
	text-align: center;
}

#cover-caption {
	width: 100%;
}

h3 {
    font: inherit;
	font-size: 1.3rem;
    font-weight: 300;
}

p {
    font-weight: 300;
}

.form-box {
	margin-top: 3rem;
    margin-bottom: 3rem;
    padding-right: 0;
    padding-left: 0;    
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: rgba(0, 0, 0, 0.6);
    text-align: left;
    -webkit-border-radius: 4px 4px 0 0;
       -moz-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { 
    margin-top: 0; 
    color: #fff; 
}

.form-top-left p { 
    color: #CCC; 
}

.form-top-left p.text-danger { 
    color: #de615e;
}

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #fff;
	line-height: 100px;
	text-align: right;
	opacity: 0.3;
}

.form-bottom {
	padding: 25px;
	background: rgba(0, 0, 0, 0.5);
	text-align: left;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    -webkit-border-radius: 0 0 4px 4px;
       -moz-border-radius: 0 0 4px 4px;
            border-radius: 0 0 4px 4px;
}

.form-bottom textarea {
	height: 150px !important;
}

.form-bottom button.btn {
	width: 100%;
    text-transform: uppercase;
}

.form-bottom btn-left {
    display: inline-block;
	width: 50%;
}

.form-bottom btn-right {
    display: inline-block;
	width: 50%;
    float: right;
}

.text-danger.field-validation-error {
    font-size: 15px;
    font-weight: 300;
    color: #de615e;
}

.social-login-container {
	margin-bottom: 3rem;
}

.social-login-buttons {

}

.social-login-button {
    margin: 5px;
    min-width: 150px;
}

input[type="text"], 
input[type="password"], 
textarea, 
textarea.form-control {
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #000;
    -webkit-border-radius: 4px; 
       -moz-border-radius: 4px; 
            border-radius: 4px;
    -webkit-box-shadow: none; 
       -moz-box-shadow: none; 
            box-shadow: none;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out; 
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}

input[type="text"]:focus, 
input[type="password"]:focus, 
textarea:focus, 
textarea.form-control:focus {
	outline: 0;
	background: #fff;
    border: 3px solid #fff;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

input[type="text"]:-moz-placeholder, 
input[type="password"]:-moz-placeholder, 
textarea:-moz-placeholder, 
textarea.form-control:-moz-placeholder,
input[type="text"]:-ms-input-placeholder, 
input[type="password"]:-ms-input-placeholder, 
textarea:-ms-input-placeholder, 
textarea.form-control:-ms-input-placeholder, 
input[type="text"]::-webkit-input-placeholder, 
input[type="password"]::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder, 
textarea.form-control::-webkit-input-placeholder { 
    color: #888; 
}

button.btn {
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #55ACEE;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #fff;
    text-shadow: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);

    -webkit-border-radius: 4px; 
       -moz-border-radius: 4px; 
            border-radius: 4px;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out; 
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}

button.btn:hover,
button.btn:focus,
button.btn:active {
    background-color: #6cb7f0;
    color: #FFF;
    outline: 0; 
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out; 
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}

.btn-transparent {
	display: inline-block;
	height: 50px;
	padding: 15px 20px 0 20px;
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.btn-transparent:hover, 
.btn-transparent:focus, 
.btn-transparent:active, 
.btn-transparent:active:focus { 
    outline: 0; 
    opacity: 0.6; 
    background: rgba(0, 0, 0, 0.3); 
    color: #fff; 
}

.form-control:-webkit-autofill,
.form-control:-webkit-autofill:focus,
.form-control:-webkit-autofill:active {
    -webkit-box-shadow: inset 0 0 0 100px white;
    -webkit-text-fill-color: black;
}

.no-left-right-padding {

}