html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
    color: #333;
	font-size: 14px;
	font-weight: 300;
}

.body-content {
	margin: 0 0 0 80px;
    padding: 0;
}

.container {
    margin: 0 50px 50px 50px;
    padding: 0;
}

@media (min-width: 1200px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 962px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 100%;
    }
}

div.col-md-6 {
    padding: 0;
}

.form-group label {
    font-size: 12px;
    margin-bottom: 2px;
}

.form-group label.required:before {
    content: '* ';
}

.nav-tabs {
    margin-bottom: 20px;
}

.top {
    margin-top: 40px;
}

.inline {
    display: inline;
}

span.remove-input {
    cursor: pointer;
    padding: 10px;
}

h3 {
    margin-top: 40px;
}

.alert-success {
    background-color: #f1f9f7;
    border-color: #e0f1e9;
    color: #1d9d74;
}

.alert-danger {
    background-color: #fbeeed;
    border-color: #f7d8dd;
    color: #d9534f;
}

.alert {
    border-left: 4px solid;
}

.left-menu-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: fixed;
	height: 100%;
	width: 80px;
	z-index: 1000;
	background-color: #262626;
}

.left-menu-item-container {
	text-align: center;
	width: 100%;
	margin: 10px 0;
	line-height: 40px;
}

.left-menu-item-container > span {
	display: inline-block;
	width: 100%;
	cursor: pointer;
}

.left-menu-item-container > span i {
	color: #fff;
	font-size: 20px;
    opacity: 0.8;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out; 
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}

.left-menu-item-container > span:hover i {
    opacity: 1;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out; 
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}

.left-menu-block-container {
	position: absolute;
	visibility: hidden;
    left: 80px;
    top: 0;
    width: 0;
    height: 100%;
    opacity: 0;
    background: rgba(247, 248, 249, .95);
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out; 
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}

.left-menu-item-container:hover .left-menu-block-container {
	visibility: visible;
	width: 300px;
    opacity: 1;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out; 
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}

.left-menu-block-container.closed {
	width: 0;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out; 
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}

.left-menu-block-container.opened {
	visibility: visible;
	width: 300px;
    opacity: 1;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out; 
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}

.left-menu-block-container span,
.left-menu-block-container ul {
	color: #262626;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.left-menu-block-container hr {
	margin: 5px auto;
	background-color: #CCC;
    height: 2px;
    width: 50px;
    border: none;
}

.menu-block-header {
	margin-top: 50px;
}

.menu-block-header .img-rounded {
	width: 150px;
	height: 150px;
	border: none;
}

.menu-block-header i {
	display: block;
	font-size: 40px;
	color: #999;
}

.menu-block-header span {
	display: block;
	margin-top: 1em;
	font-size: 20px;
}

.menu-block-links {

}

.menu-block-links ul {
	margin: 0;
	padding: 40px 0 0;
	list-style-type: none;
	font-size: 14px;
}

.menu-block-links ul a {
	color: #262626;
	-webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out; 
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}

.menu-block-links ul a:hover,
.menu-block-links ul a:active,
.menu-block-links ul a:focus {
	color: #999;
	text-decoration: none;
	-webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out; 
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}

.menu-block-buttons {
	padding: 40px 0 0;
}

.menu-block-buttons a.btn {
	margin-bottom: 1em;
    display: block;
}

.top-menu-container {
	padding: 10px 50px 10px 130px;
	height: 80px;
	background-color: #FFF;
	border-bottom: 2px solid #f1f1f1;
}

.top-menu-container .top-menu-logo {
	display: inline-block;
	height: 100%;
}

.top-menu-container .top-menu-logo img {
	max-height: 100%;
}

.top-menu-container .top-menu-user-section {
	display: inline-block;
	height: 100%;
}

.top-menu-container .top-menu-logout {
	display: inline-block;
	position: absolute;
    right: 50px;
	height: 100%;
}

.top-menu-container .top-menu-user-section .user-name {
	display: inline-block;
	height: 100%;
}

.top-menu-container .top-menu-user-section .user-avatar {
	display: inline-block;
	height: 100%;
	margin: 0 20px 0 20px;
}

.top-menu-container .top-menu-user-section .user-avatar img {
	height: 60px;
	width: 60px;
	border-radius: 30px;
}

.breadcrump-container {
	padding: 8px 50px 5px 50px;
	background-color: #fff;
	border-bottom: 2px solid #EEE;
	font-size: 12px;
	color: #999;
}

.breadcrump-container .separator:after {
	padding: 0 5px;
	font-family: "FontAwesome";
    content: "\f101";
    font-size: 12px;
    color: #CCC;
}

.top-buttons-container {
	padding: 15px 50px 15px 50px;
    background-color: #FAFAFA;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
}

.top-buttons-container .row button {
	margin-left: 15px;
}

.row {
    margin: 0;
}

.form-group {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

input[type="text"], 
input[type="password"],
textarea,
textarea.form-control,
.alert,
select {
    max-width: 380px;
}

textarea.form-control {
    height: 150px;
}

input[type="text"]:-moz-placeholder, 
input[type="password"]:-moz-placeholder, 
textarea:-moz-placeholder, 
textarea.form-control:-moz-placeholder,
input[type="text"]:-ms-input-placeholder, 
input[type="password"]:-ms-input-placeholder, 
textarea:-ms-input-placeholder, 
textarea.form-control:-ms-input-placeholder, 
input[type="text"]::-webkit-input-placeholder, 
input[type="password"]::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder, 
textarea.form-control::-webkit-input-placeholder { 
    color: #888; 
}

.form-control:-webkit-autofill,
.form-control:-webkit-autofill:focus,
.form-control:-webkit-autofill:active {
    -webkit-box-shadow: inset 0 0 0 100px white;
    -webkit-text-fill-color: #333;
}

img {
    -webkit-user-drag: none;
            user-drag: none; 

    -webkit-user-select: none; 
       -moz-user-select: none;    
        -ms-user-select: none;
            user-select: none;
}

a.toggle {
    font-size: 20px;
    color: #777;
    padding: 0 10px;
}

table.borderless tr, table.borderless td {
    border-top: none !important;
    border-bottom: 1px solid #ddd;
}

td {
    padding: 10px !important;
    line-height: 22px !important;
}

img.flag-image {
    width: 50px;
    max-width: 50px;
}

td.details {
    width: 200px;
}

td.flag {
    width: 90px;
    text-align: center;
}

td.toggle-menu-icon {
    width: 50px;
    text-align: center;
}

