@using LazyVocabulary.Web.Models;
@model CreateDictionaryViewModel

@{
    ViewBag.Title = "Новый словарь";
}

<div class="breadcrump-container">
    <a href="/Home/Index">Главная</a>
    <span class="separator"></span>
    <a href="/Dictionary/Index">Мои словари</a>
    <span class="separator"></span>
    Новый словарь
</div>

<div class="top-buttons-container">
    <div class="row">
        <button id="btn-submit-form" type="submit" value="Сохранить" class="btn btn-info pull-right">
            <i class="fa fa-check"></i> Сохранить
        </button>
        <button id="btn-clear-form" type="button" class="btn btn-default pull-right">
            <i class="fa fa-remove"></i> Очистить форму
        </button>
    </div>
</div>

@using (Ajax.BeginForm("Create", "Dictionary", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    OnBegin = "onBegin",
    OnComplete = "onComplete",
    UpdateTargetId = "target",
    LoadingElementId = "loader",
}, new { id = "form" }))
{
    <div id="target" class="container">
        @Html.Partial("_Create")
    </div>
}

@section Scripts {
    <script>
        function onBegin() {
            $('#btn-submit-form').attr('disabled', 'disabled');
        };

        function onComplete() {
            $('#btn-submit-form').attr('disabled', false);
            $('#result').attr('style', 'display:normal');
        };

        $('#btn-submit-form').click(function () {
            $('#form').submit();
        });

        $('#btn-clear-form').click(function () {
            $(':input', '#form')
                .not(':button, :submit, :reset, :hidden')
                .val('')
                .removeAttr('checked')
                .removeAttr('selected');
            $('select').prop('selectedIndex', 0);
            $('#btn-clear-form').blur();
        });
    </script>
}