
@{
    ViewBag.Title = "Мои словари";
}

<div class="breadcrump-container">
    <i class="fa fa-home"></i>
    <a href="#">Главная</a>
    <span class="separator"></span>
    Мои словари
</div>

<div class="top-buttons-container">
    <div class="row">
        <a href="/Dictionary/Create" class="btn btn-info pull-right">
            <i class="fa fa-plus"></i> Добавить словарь
        </a>
    </div>
</div>

<div class="container">
    <h2>Мои словари</h2>
</div>

<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/scripts/app-js/dictionary.js")
}