@{
    ViewBag.Title = "Мои словари";
}

@Styles.Render("~/Content/menu.css")

<div class="breadcrump-container">
    <a href="/Home/Index">Главная</a>
    <span class="separator"></span>
    Мои словари
</div>

<div class="top-buttons-container">
    <div class="row">
        <a href="/Dictionary/Create" class="btn btn-info pull-right">
            <i class="fa fa-plus"></i> Добавить словарь
        </a>
        <button id="btn-delete-selected" type="button" class="btn btn-info pull-right" disabled>
            <i class="fa fa-remove"></i> Удалить выбранные
        </button>
        <button id="btn-select-all" type="button" class="btn btn-default pull-right">
            <i class="fa fa-check-square-o"></i> Выделить все
        </button>
        <button id="btn-deselect-all" type="button" class="btn btn-default pull-right">
            <i class="fa fa-square-o"></i> Снять выделение
        </button>
    </div>
</div>

<div class="container">
    <ul class="nav nav-tabs top" role="tablist">
        <li class="nav-item active">
            <a class="nav-link" href="#tab-pane-my" data-toggle="tab" role="tab">Мои словари</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#tab-pane-available" data-toggle="tab" role="tab">Доступные мне</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="tab-pane-my" role="tabpanel">
            @using (Ajax.BeginForm("Search", "Dictionary", new AjaxOptions
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                OnBegin = "onBegin",
                OnComplete = "onComplete",
                UpdateTargetId = "target",
                LoadingElementId = "loader",
            }))
            {
                <h3>Поиск словарей</h3>
                <div class="form-group">
                    <label for="searchPattern">Введите строку поиска</label>
                    <div>
                        @Html.TextBox("searchPattern", "", new { @class = "form-control inline" })
                        <span class="fa fa-remove clear-input" title="Очистить поле"></span>
                    </div>                  
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="searchDescriptions" value="true" /> Включая описания
                    </label>
                </div>

                <div class="form-group">
                    <button id="btn-submit-form" type="submit" class="btn btn-default">
                        <i class="fa fa-search"></i> Найти словари
                    </button>
                </div>

                <h3>Результаты поиска</h3>
                <div id="target">
                    @Html.Partial("_List")
                </div>
            }

            <div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Подтвердите удаление</h4>
                        </div>
                        <div class="modal-body">
                            <p>Вы уверены, что хотите удалить выбранный словарь со всеми переводами? Восстановить данные будет <b>невозможно.</b></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                <i class="fa fa-remove"></i> Закрыть
                            </button>
                            <button type="button" class="btn btn-info" id="btn-submit-delete">
                                <i class="glyphicon glyphicon-ok"></i> Удалить
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modal-delete-selected" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Подтвердите удаление</h4>
                        </div>
                        <div class="modal-body">
                            <p>Вы уверены, что хотите удалить все выбранные словари со всеми переводами? Восстановить данные будет <b>невозможно.</b></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                <i class="fa fa-remove"></i> Закрыть
                            </button>
                            <button type="button" class="btn btn-info" id="btn-submit-delete-selected">
                                <i class="glyphicon glyphicon-ok"></i> Удалить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="tab-pane-available" role="tabpanel">

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/menu.min.js")

    <script>
        $('[data-menu]').menu();

        function onBegin() {
            $('#btn-submit-form').attr('disabled', 'disabled');
        };

        function onComplete() {            
            $('#btn-submit-form').attr('disabled', false);
            $('#result').attr('style', 'display:normal');
            $('[data-menu]').menu();
        };

        $(document).on('click', 'span.clear-input', function (event) {
            var input = $(event.target).prev('.form-control');
            input.val('');
        });

        // Delete from context menu.
        $(document).on('click', 'a.delete-dictionary', function (event) {
            event.preventDefault();
            $('#modal-delete').modal('show');

            $(document).on('click', '#btn-submit-delete', function () {
                $.ajax({
                    type: 'POST',
                    url: '/Dictionary/Delete/' + event.target.id.match('[^delete-]*$'),
                    contentType: 'application/json;charset=utf-8',
                    dataType: 'json',
                    // To avoid DbUpdateConcurrencyException in DictionaryService.
                    async: false,
                    success: function (result) {
                        if (result.success == true) {
                            var tr = $(event.target).closest('tr');
                            tr.remove();
                            updateButtonStates();
                        }
                        else {
                            console.error('Cant delete selected dictionary.');
                        }

                        var table = $('table#table-my-dictionaries');
                        if (!$('tr', table).length) {
                            table.remove();
                            $('#there-is-no-dictionaries').attr('style', 'display:normal');
                        }
                    },
                    error: function (response) {
                        console.error('Cant delete selected dictionary.');
                    },
                    complete: function () {
                        $('#modal-delete').modal('hide');
                    }
                });
            });
        });

        // Delete selected using delete button.
        $(document).on('click', '#btn-delete-selected', function () {
            $('#modal-delete-selected').modal('show');
        });

        $(document).on('click', '#btn-submit-delete-selected', function () {
            var ids = $('input[name="dictionaries"]:checked');
            if (ids.length) {
                $.each(ids, function (i, value) {
                    $.ajax({
                        type: 'POST',
                        url: '/Dictionary/Delete/' + $(value).val(),
                        contentType: 'application/json;charset=utf-8',
                        dataType: 'json',
                        success: function (result) {
                            if (result.success == true) {
                                var tr = value.closest('tr');
                                tr.remove();
                                updateButtonStates();
                            }
                            else {
                                console.error('Cant delete selected dictionary.');
                            }

                            var table = $('table#table-my-dictionaries');
                            if (!$('tr', table).length) {
                                table.remove();
                                $('#there-is-no-dictionaries').attr('style', 'display:normal');
                            }
                        },
                        error: function (response) {
                            console.error('Cant delete selected dictionary.');
                        },
                        complete: function () {
                            $('#modal-delete-selected').modal('hide');
                        }
                    });
                });
            }
        });

        $(document).on('click', '#btn-select-all', function () {
            $('input[name="dictionaries"]').prop('checked', true);
            $(event.target).blur();
            updateButtonStates();
        });

        $(document).on('click', '#btn-deselect-all', function () {
            $('input[name="dictionaries"]').prop('checked', false);
            $(event.target).blur();
            updateButtonStates();
        });

        $(document).on('change', 'input[name="dictionaries"]', function () {
            updateButtonStates();
        });

        function updateButtonStates() {
            if (!$('input[name="dictionaries"]:checked').length) {
                $('#btn-delete-selected').attr('disabled', true);
            }
            else {
                $('#btn-delete-selected').attr('disabled', false);
            }
        }
    </script>
}