@using LazyVocabulary.Web.Models;
@using System.Linq;

@model IEnumerable<IndexTranslationViewModel>

@if (Model.Count() > 0)
{
    <table class="table borderless top" id="table-translations">
        <tbody>
            @foreach (var item in Model)
                {
                <tr>
                    <td class="td-checkbox">
                        <input type="checkbox" name="translations" value="@item.Id">
                    </td>
                    <td>
                        @item.Value
                    </td>
                    <td>
                        @if (item.Translations.Count > 0)
                        {
                            foreach (var translation in item.Translations)
                            {
                                @translation.Value
                                <br />
                            }
                        }
                        else
                        {
                            <span class="text-muted"><i>Вы не добавили ни одного перевода.</i></span>
                        }
                    </td>
                    <td class="toggle-menu-icon">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                Действие
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="/Translation/Edit/@item.Id">Редактировать перевод</a>
                                </li>
                                <li>
                                    <a href="javascript;" class="delete-translation" id="delete-@item.Id">Удалить перевод</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p id="there-is-no-translations" class="text-muted" style="display:none;"><i>Вы не добавили ни одного перевода.</i></p>
}
else
{
    <p id="there-is-no-translations" class="text-muted"><i>Вы не добавили ни одного перевода.</i></p>
}