@{
    ViewBag.Title = "Новый перевод";
}

<div class="breadcrump-container">
    <a href="/Home/Index">Главная</a>
    <span class="separator"></span>
    <a href="/Dictionary/Index">Мои словари</a>
    <span class="separator"></span>
    Новый перевод
</div>

<div class="top-buttons-container">
    <div class="row">
        <button id="btn-submit-form" type="button" class="btn-custom btn-blue pull-right">
            <i class="glyphicon glyphicon-ok"></i> Сохранить
        </button>
        <button id="btn-clear-form" type="button" class="btn-custom btn-gray pull-right">
            <i class="fa fa-remove"></i> Очистить форму
        </button>
    </div>
</div>

@using (Ajax.BeginForm("Create", "Translation", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    OnBegin = "onBegin",
    OnComplete = "onComplete",
    UpdateTargetId = "target",
    LoadingElementId = "loader",
}, new { id = "form" }))
{
    <div id="target" class="container">
        @Html.Partial("_Create")
    </div>
}

@section Scripts {
    <script>
        'use strict';

        var languagePair;

        $(function () {
            $('#DictionaryId').change();
            $('.selectpicker').selectpicker();
        });

        function onBegin() {
            $('#btn-submit-form').attr('disabled', 'disabled');
        };

        function onComplete() {
            $('#btn-submit-form').attr('disabled', false);
            $('#result').attr('style', 'display:normal');
            $('#Value').val('');
            $('#DictionaryId').selectpicker('refresh');
        };

        $(document).on('click', '#btn-submit-form', function () {
            $('#form').submit();
        });

        $(document).on('click', '#btn-clear-form', function () {
            $(':input', '#form')
                .not(':button, :submit, :reset, :hidden')
                .val('')
                .removeAttr('checked')
                .removeAttr('selected');
            $('select').prop('selectedIndex', 0);
            showCannotTranslate();
            $('#btn-clear-form').blur();
        });

        $(document).on('click', '#btn-add-field', function () {
            var div = $('#translation-inputs');
            if ($('.form-group', div).length) {
                var lastFormGroup = $('.form-group', div).last();

                if ($('input:last', lastFormGroup).val().trim() != '') {
                    lastFormGroup.clone().appendTo(div).find('input.inline').val('');
                }
            }
            else {
                var html = '';
                html += '<div class="form-group">';
                html += '<label>Введите вариант перевода</label>';
                html += '<div>';
                html += '<input type="text" class="form-control inline" name="translations" />';
                html += '<span class="fa fa-trash remove-input" title="Удалить поле"></span>';
                html += '</div>';
                html += '</div>';
                div.append(html);
            }

            $('#btn-add-field').blur();
        });

        $(document).on('click', 'span.remove-input', function (event) {
            var formGroup = $(event.target).closest('.form-group');
            formGroup.remove();
        });

        $(document).on('change', '#Value', function () {
            var targetText = $('#Value').val().trim();

            if (targetText == '') {
                showCannotTranslate();
                return;
            }

            hideCannotTranslate();

            var translations = [];
            var trLink = 'https://translate.yandex.net/api/v1.5/tr.json/translate?key=trnsl.1.1.20170213T172041Z.188b671735d113e7.b44d78d5c904d7a51611c185121e7df8671cd00c&text=' + targetText + '&lang=' + languagePair;
            var dLink = 'https://dictionary.yandex.net/api/v1/dicservice.json/lookup?key=dict.1.1.20170213T181444Z.08ee015e9d8d82f7.eda86d019b0feff6a7265faf46dc6d9aee180f55&text=' + targetText + '&lang=' + languagePair;

            $.ajax({
                type: 'GET',
                url: trLink,
                success: function (response) {
                    response.text.forEach(
                        function (item) {
                            translations.push(item.toLowerCase());
                        }
                    );

                    $.ajax({
                        type: 'GET',
                        url: dLink,
                        success: function (response) {
                            response.def.forEach(
                                function (item) {
                                    item.tr.forEach(
                                        function (item) {
                                            translations.push(item.text.toLowerCase());
                                        }
                                    );
                                }
                            );

                            if (translations.length > 0) {
                                translations = translations.filter(onlyUniqueItems);

                                translations.forEach(function (item) {
                                    $('#div-auto').append('<div class="checkbox"><label><input type="checkbox" name="translations" value="' + item + '"/>' + item + '</label></div>');
                                });
                            }
                            else {
                                showCannotTranslate();
                            }
                        },
                        error: function () {
                            showCannotTranslate();
                        },
                    });
                },
                error: function () {
                    showCannotTranslate();
                }
            });          
        });

        $(document).on('change', '#DictionaryId', function () {
            var dictionaryId = $('#DictionaryId').val();
            
            $.ajax({
                type: 'GET',
                url: '/Dictionary/GetLanguagePair',
                data: { dictionaryId: dictionaryId },
                contentType: 'application/json;charset=utf-8',
                dataType: 'json',
                success: function (result) {
                    languagePair = result.languagePair;
                    console.log('Language pair is ' + result.languagePair);
                    $('#Value').keyup();
                },
                error: function (response) {
                    console.error('Cant get language pair for selected dictionary.');
                }
            });
        });

        $(document).on('keyup', '#Value', function () {
            var link = getGoogleLink();
            $('a#google-link').attr('href', link);
        });

        function showCannotTranslate() {
            $('#div-auto').empty();
            $('#cannot-translate').attr('style', 'display:normal;');
        }

        function hideCannotTranslate() {
            $('#div-auto').empty();
            $('#cannot-translate').attr('style', 'display:none;');
        }

        function onlyUniqueItems(value, index, self) {
            return self.indexOf(value) === index;
        }

        function getGoogleLink() {
            var link = 'https://translate.google.com?';
            var q = $('#Value').val().trim();
            var sl = languagePair.substring(0, 2);
            var tl = languagePair.substring(3);

            if (q != '') {
                link += 'q=' + q;
            }
            link += '&sl=' + sl;
            link += '&tl=' + tl;

            return link;
        }
    </script>
}
