@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="left-menu-container">
    <div class="left-menu-item-container">
        <a href="#">
            <i class="fa fa-home"></i>
        </a>
    </div>
    <div class="left-menu-item-container">
        <a href="/Account/Register">
            <i class="fa fa-user-plus"></i>
        </a>
    </div>
    <div class="left-menu-item-container">
        <a href="/Account/Login">
            <i class="fa fa-sign-in"></i>
        </a>
    </div>
</div>

<div id="cover">
    <div id="cover-caption">
        <div class="container">
            <h1>Добро пожаловать в BeLazy</h1>
            <p>
                BeLazy – это интересный способ каждый день узнавать что-то новое.
                Ведите электронный словарь, пополняйте словарный запас и делитесь им с друзьями в любое время и в любом месте.
                Присоединяйтесь!
            </p>
            <a href="/Account/Register" class="btn">
                <i class="fa fa-user-plus"></i> Присоединиться
            </a>
            <div class="arrow-down hidden-xs">
                <i class="fa fa-angle-down"></i>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="container">
        <h1>Что такое BeLazy</h1>
        <p>Понятия не имею, потом придумаю</p>
    </div>
</div>

<div class="footer">
    <div class="footer-social-section">
        <div class="container">
            <ul>
                <li>
                    <a class="btn-rounded btn-fb">
                        <i class="fa fa-facebook"> </i>
                    </a>
                </li>
                <li>
                    <a class="btn-rounded btn-twitter">
                        <i class="fa fa-twitter"> </i>
                    </a>
                </li>
                <li>
                    <a class="btn-rounded btn-gplus">
                        <i class="fa fa-google-plus"> </i>
                    </a>
                </li>
                <li>
                    <a class="btn-rounded btn-vk">
                        <i class="fa fa-vk"> </i>
                    </a>
                </li>
                <li>
                    <a class="btn-rounded btn-instagram">
                        <i class="fa fa-instagram"> </i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            © 2017 Copyright</a>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        'use strict';

        //console.log('Supported languages: ' + navigator.languages);
        var locale = getCookie('locale');

        if (locale != 'ru' && locale != 'en') {
            var browserLanguage = navigator.language || navigator.userLanguage || navigator.browserLanguage || navigator.systemLanguage || 'ru';

            // Transform Russian, Belorussian and Ukrainian language to Russian.
            if (browserLanguage == 'ru' || browserLanguage == 'be' || browserLanguage == 'uk') {
                browserLanguage = 'ru';
            }
                // Transform other languages to English.
            else {
                browserLanguage = 'en';
            }

            setCookie('locale', browserLanguage);
        }

        function getCookie(name) {
            var matches = document.cookie.match(new RegExp(
              "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
            ));
            return matches ? decodeURIComponent(matches[1]) : undefined;
        }

        function setCookie(name, value) {
            value = encodeURIComponent(value);
            var updatedCookie = name + "=" + value;

            // 7 days.
            var date = new Date;
            date.setDate(date.getDate() + 7);

            updatedCookie += '; path=/;';
            updatedCookie += 'expires=' + date.toUTCString() + ';';
            document.cookie = updatedCookie;
        }
    </script>
}

