@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div id="cover">
    <div id="cover-caption">
        <div class="container">
            <h1>Добро пожаловать в BeLazy</h1>
            <p>
                BeLazy – это интересный способ каждый день узнавать что-то новое.
                Ведите электронный словарь, пополняйте словарный запас и делитесь им с друзьями в любое время и в любом месте.
                Присоединяйтесь!
            </p>
            <a href="" class="btn btn-info">Присоединиться</a>
            <div class="arrow-down hidden-xs">
                <i class="fa fa-angle-down"></i>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="container">
        <h1>Что такое BeLazy</h1>
    </div>
</div>
