
@{
    ViewBag.Title = "Test";
}

<div class="breadcrump-container">
    <i class="fa fa-home"></i>
    <a href="#">Главная</a>
    <span class="separator"></span>
    Словари
    <span class="separator"></span>
    Добавление
</div>

<div class="container">
    <h2>Test</h2>
    Current culture is @ViewBag.Culture
</div>

